.image-gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  .imageWrapper {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #33333375;
    &:hover .imgGallery {
      transform: scale(1.1);
    }
    .imgGallery {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }
}
